.App{
  height: 100vh;
  width: 100%;
}
.App-header{
    background-color: #282c34;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.form-container{
  width: 100%;
  background-color: #8d8d8d;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-around;

}


.form-group{
  display: flex;
  flex-direction: column;
}

.radio{
  display: flex;
}

.form-group input{
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
}


.form-group label{
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: larger;
  font-weight: 600;
}

.radio input{
  width: 1rem;
}

.btn{
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #282c34;
  color: white;
  font-size: larger;
  font-weight: 600;
  cursor: pointer;
}

.card{
  width: 100%;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
  justify-content: center;
  border-radius: 5px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;

}

td > *{
  margin: .2rem;
}

th{
  text-align: center;
}

.table{
  border-radius: 5px;
  border: 1px solid #dddddd;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: #282c34;
}

table{
  border-collapse: collapse;
  width: 100%;
  color: white;
}

td p{
  font-size: 1rem;
  font-weight: 600;
}

td a{
  color: rgb(9, 247, 255);
  font-size: 1rem;
  font-weight: 600;
}

.verticle-line{
  border-left: 3px solid #3a3f47;
  height: 90%;
}